$var1: #fff;
$var2: #f8d548;
$var3: linear-gradient(180deg, #f36041 0, #f1a02a 100%);
$var4: linear-gradient(
   180deg,
   #00a510 0,
   rgba(0, 165, 16, 0.85) 18.09%,
   rgba(0, 165, 15, 0.7) 51.18%,
   #13801d 85.09%,
   #098214 100%
);
$var5: "Comfortaa";
$var6: "Raleway";