<header class="header">
   <div class="header__filter"></div>
   <div class="header__container">
      <div class="header__logo">
         <a href="#">
            <img src="./img/header/header-logo.webp" alt="logo">
         </a>
      </div>
      <div class="header__navigation">
         <a href="tel:+38 067 009 92 32">
            <div class="header__phone">
               <div class="header__circle gradient">
                  <img src="./img/header/header-phone.svg" alt="phone">
               </div>
               <a href="tel:+38 067 009 92 32">+38 067 009 92 32</a>
            </div>
         </a>
         <div class="header__lang">
            <nav>
               <ul>
                  <li><a href="#">Eng</a></li>
                  <li><a href="#">Ukr</a></li>
               </ul>
               <div class="burger-menu">
                  <span></span>
               </div>
            </nav>
         </div>
      </div>
   </div>
</header>