.hero {
   background: url("../img/hero/preview.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;

   .gradient {
      background: $var3;
   }
   .linear {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: -1px;
      background: $var4;
      opacity: 1;
      z-index: 1;
   }
   &__container {
      padding: 200px 15px 0;
      position: relative;
      z-index: 20;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      .hero__main-text {
         flex: 0 0 50%;
         span {
            font-weight: 900;
            font-size: 20px;
            line-height: 18px;
            color: $var2;
            display: block;
            text-align: right;
            text-transform: uppercase;
         }
         h1 {
            font-family: $var6;
            font-size: 72px;
            font-weight: 800;
            line-height: 100%;
         }
      }
      .hero__main-image {
         flex: 0 0 50%;
         border-radius: 50%;
         
      }
   }
}
